{{template "header"}}
    <script src="https://cdn.bootcss.com/marked/0.3.6/marked.js"></script>
    <script src="https://cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/about-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is what I do.</span> 
              <span class="meta">Post by
                  {{.Article.Author}}
                  on {{.Article.Created}} {{.Article.Views}} 次浏览
                  <a href="/article/edit?id={{.Article.Id}}">编辑</a> <a href="/article/delete?id={{.Article.Id}}">删除</a></span> 
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div id="content"></div>
              <script>
                  document.getElementById('content').innerHTML = 
                      marked({{.Article.Content}})
              </script>
          </div>
        </div>
      </div>
    </article>

    <hr>
{{template "footer"}}
